@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Create User";
}
<h4>Create Student</h4>
<form action="/Students/Create" method="POST">
	<input hidden type="number" name="StudentId" value="@Model?.StudentId" />

	<label for="StudentNumber">Student number:</label>
	<input type="text" id="StudentNumber" name="StudentNumber" class="form-control" required value="@Model?.StudentNumber" />

	<label for="FirstName">First Name:</label>
	<input type="text" id="FirstName" name="FirstName" class="form-control" required value="@Model?.FirstName" />

	<label for="LastName">Last Name:</label>
	<input type="text" id="LastName" name="LastName" class="form-control" required value="@Model?.LastName" />

	<label for="PhoneNumber">Phone number:</label>
	<input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control" required value="@Model?.PhoneNumber" />

	<label for="Class">Class:</label>
	<input type="text" id="Class" name="Class" class="form-control" required value="@Model?.Class" />
	





	<button type="submit" class="btn btn-primary">Add</button>


</form>

<a href="/Students/Index">Back to List</a>


